In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')
df.sample(10)

      age     sex     bmi  children smoker     region      charges
1056   48  female  28.900         0     no  southwest   8277.52300
1100   33  female  19.095         2    yes  northeast  16776.30405
240    23  female  36.670         2    yes  northeast  38511.62830
1019   21  female  32.680         2     no  northwest  26018.95052
274    25    male  27.550         0     no  northwest   2523.16950
979    36  female  29.920         0     no  southeast   4889.03680
328    64  female  33.800         1    yes  southwest  47928.03000
1277   32  female  29.735         0     no  northwest   4357.04365
1235   26    male  31.065         0     no  northwest   2699.56835
485    31  female  31.065         0     no  northeast   4347.02335

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
X=df.iloc[:,:5]
y=df.iloc[:,-1]

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['sex']=le.fit_transform(X['sex'])
X['smoker']=le.fit_transform(X['smoker'])
print(X['sex'].unique())
print(X['smoker'].unique())

[0 1]
[1 0]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(X_train, y_train)
y_p= model.predict(X_test)

In [12]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_p))

0.7978644236809905

In [15]:
from sklearn.svm import SVR
model = SVR(kernel = 'rbf').fit(X_train, y_train)
y_p= model.predict(X_test)

In [16]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_p))

-0.0987507664890721