In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score , classification_report

In [2]:
df=pd.read_csv('emails.csv')
df.sample(10)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
3275,Email 3276,3,3,1,1,1,0,15,1,0,...,0,0,0,0,0,0,0,0,0,0
2902,Email 2903,0,1,2,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
1025,Email 1026,1,0,2,0,0,0,8,1,0,...,0,0,0,0,0,0,0,0,0,0
714,Email 715,0,1,2,0,3,0,16,0,0,...,0,0,0,0,0,0,0,0,0,0
1801,Email 1802,5,19,8,7,0,1,228,10,0,...,0,0,0,1,0,0,0,5,0,0
3941,Email 3942,0,0,1,0,1,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4449,Email 4450,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,1
597,Email 598,1,0,1,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,1
3775,Email 3776,113,75,15,46,44,21,514,4,1,...,0,0,0,0,0,0,1,3,0,0
1605,Email 1606,73,68,157,23,35,13,629,10,74,...,0,0,0,0,0,0,0,7,0,0

In [3]:
X=df.iloc[:,1:-1]
y=df['Prediction']

In [4]:
X.shape

(5172, 3000)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [6]:
from sklearn.svm import SVC
model = SVC(kernel = 'linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [7]:
y_pred=model.predict(X_test)

In [8]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred)
cm

array([[719,  31],
       [ 27, 258]])

In [9]:
print('Accuracy of SVM = ',(cm[0][0]+cm[1][1])/cm.sum())

Accuracy of SVM =  0.9439613526570049

In [10]:
acc=accuracy_score(y_test,y_pred)
print('Accuracy of SVM = ',acc)
print('--------------------------------------')
print("SVM reports")
print(classification_report(y_test, y_pred))

Accuracy of SVM =  0.9439613526570049
--------------------------------------
SVM reports
              precision    recall  f1-score   support

           0       0.96      0.96      0.96       750
           1       0.89      0.91      0.90       285

    accuracy                           0.94      1035
   macro avg       0.93      0.93      0.93      1035
weighted avg       0.94      0.94      0.94      1035

# Naive bayes

In [11]:
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [12]:
acc=accuracy_score(y_test,y_pred)
print('Accuracy of Naive bayes = ',acc)
print('--------------------------------------')
print("Naive_bayes reports")
print(classification_report(y_test, y_pred))

Accuracy of Naive bayes =  0.9584541062801932
--------------------------------------
Naive_bayes reports
              precision    recall  f1-score   support

           0       0.99      0.95      0.97       750
           1       0.89      0.98      0.93       285

    accuracy                           0.96      1035
   macro avg       0.94      0.96      0.95      1035
weighted avg       0.96      0.96      0.96      1035